body {
    background-image: url(taxi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: center;
    background-color: #ff9334f3;

}
#container {
    background: #faa962da;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 80px;
    width: 750px;
    height: 810px;
    border-radius: 40px;
    color: darkblue;
}
form {
    display: flex;
    flex-direction: column;
    font-family: 'Sora', sans-serif;
    font-size: 25px;
    margin: 10px;
    padding: 20px;
}
h1 {
    background: linear-gradient(to left, darkblue, #bc37ce, #124c55);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: 'Tourney', cursive;
    align-self: center;
    font-size: 40px;
    margin-left: 20px;
}
input {
    font-family: 'Sora', sans-serif;
    color: darkblue;
    padding: 10px;
    font-size: 20px;    
}
#addTip {
    background: linear-gradient(to left, rgba(44, 44, 238, 0.699),#bc37cec4, #168ea0bd );
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px;
    font-family: 'Sora', sans-serif;
    font-size: 20px;
}
#btn {
    background: linear-gradient(to left, rgba(44, 44, 238, 0.699),#bc37cec4, #168ea0bd );
    color: white;
    padding: 15px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    font-family: 'Sora', sans-serif;
    font-size: 20px;
}
#tip {
    font-family: 'Sora', sans-serif;
    display: none;
}
#showTotalAmountToPay {
    display: flex;  
    justify-content: space-around;    
}
#billSplit, #totalTip, #totalAmount {
    font-family: 'Sora', sans-serif;
    background-color: rgba(99, 131, 112, 0.733);
    color: white;
    margin: 20px;
    padding: 5px;
    font-size: 18px;
    border-radius: 20px;
    border: 1px solid blue;
    flex: 1;
}

#dividedBill, #dividedTip, #billAndTip {
    font-size: 33px;
}

.amount {
    display: flex;
    font-size: 25px;
    justify-content: space-between;  
}

.goback {
    display: flex;
    justify-content: space-evenly;
}

/* confetti and refresh */

.close {
    display: flex;
    justify-content: center;    
}

.btnClose {
    border-radius: 50%;
    border: rgb(146, 107, 146) 3px solid;
    width: 72px;
    height: 70px;
    background-color: rgba(205, 222, 233, 0.836);
}

#my-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 63vh;
    z-index: 100000;
    visibility: hidden;

}
#my-canvas.active {
    visibility: visible;
}

@media (max-width: 1030px) {
    /* body {
        background-image: url(food-bckg2.jpg);
    } */
    #container {
        margin-left: 160px;
    }
    #my-canvas {
        height: 52vh;        
    }
}

@media (max-width: 800px) {
    /* body {
        background-image: url(food-bckg2.jpg);
    } */
    #container {
        margin-left: 0px;
        width: auto;
        height: 810px;
    }
}
@media (max-width: 600px) {
    body {
        background-image: url(taxi2.jpg); 
        background-size: cover;
        background-position: center;
        height: 100vh;
        width: auto;          
    } 
    h1 {
        font-size: 20px;
        margin-left: 18px;
    }
    .amount {
        font-size: 23px;
        flex-direction: column;
    }
    input {
        padding: 10px;
        font-size: 15px;    
    }
    #container {
        width: auto;
        height: max-content;
    }
    #showTotalAmountToPay {
        display: flex;
        flex-wrap: wrap;
    }
    #dividedBill, #dividedTip, #billAndTip {
        font-size: 20px;
    }
    #btn {
        padding: 10px;
        margin-top: 10px;
        font-size: 20px;
    }
    #billSplit, #totalTip, #totalAmount {
        margin: 5px;
        padding: 5px;
        font-size: 15px;
        flex:auto;        
    }

}

@media (max-width: 330px) {
    #container {
        width: auto;
        height: max-content;
    }
    #showTotalAmountToPay {
        display: flex;
        flex-wrap: wrap;
    }
    #billSplit, #totalTip, #totalAmount {
        margin: 5px;
        padding: 10px;
        font-size: 10px;
        flex:auto;        
    }
}
