body {
    background-image: url(pic/travel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: center;
    background-color: #548514;

}
#container {
    background: #548514b7;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 80px;
    width: 800px;
    height: 810px;
    border-radius: 40px;
    color: white;
}
form {
    display: flex;
    flex-direction: column;
    font-family: 'Sora', sans-serif;
    font-size: 25px;
    margin: 10px;
    padding: 20px;
}
h1 {
    /* color: white; */
    background: linear-gradient(to left, skyblue, white, lightgreen);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: 'Tourney', cursive;
    align-self: center;
    font-size: 37px;
}
input {
    font-family: 'Sora', sans-serif;
    width: 270px;
    padding: 10px;
    font-size: 18px;    
}

#btn {
    background: linear-gradient(to left, rgba(135, 207, 235, 0.726), rgba(255, 255, 255, 0.74), rgba(144, 238, 144, 0.747));
    color: rgb(2, 49, 2);
    padding: 15px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    font-family: 'Sora', sans-serif;
    font-size: 20px;
}
#tip {
    font-family: 'Sora', sans-serif;
    display: none;
}
#showTotalAmountToPay {
    display: flex;   
    flex-direction: column;
    align-self: center;
} 
#totalAmount {
    font-family: 'Sora', sans-serif;
    background-color: rgba(132, 175, 150, 0.74);
    color: white;
    margin: 20px;
    padding: 5px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid white;
    width: 200px;
    
}

#billAndTip {
    font-size: 33px;
}

.amount {
    display: flex;
    font-size: 25px;
    justify-content: space-between;  
}

.goback {
    display: flex;
    justify-content: space-evenly;
}

/* confetti and refresh */

.close {
    display: flex;
    justify-content: center;    
}

.btnClose {
    border-radius: 50%;
    border: rgb(146, 107, 146) 3px solid;
    width: 72px;
    height: 70px;
    background-color: rgba(205, 222, 233, 0.699);
}

#my-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 63vh;
    z-index: 100000;
    visibility: hidden;

}
#my-canvas.active {
    visibility: visible;
}

@media (max-width: 1030px) {    
    #container {
        margin-left: 110px;
    }
    #my-canvas {
        height: 52vh;        
    }
}

@media (max-width: 800px) {    
    #container {
        margin-left: 0px;
        width: auto;
        height: auto;
    }
}
@media (max-width: 600px) {
    body {              
        background-size: cover;
        height: 100vh;
        width: auto;            
    }
    h1 {
        font-size: 20px;
        margin-left: 18px;
    }
    .amount {
        font-size: 23px;
        flex-direction: column;
    }
    input {
        padding: 10px;
        font-size: 15px;    
    }
    #container {
        width: auto;
    }
    #showTotalAmountToPay {
        display: flex;
        flex-wrap: wrap;
    }
    #billAndTip {
        font-size: 20px;
    }
    #btn {
        padding: 10px;
        margin-top: 10px;
        font-size: 20px;
    }
    #totalAmount {
        margin: 10px;
        padding: 10px;
        font-size: 15px;
        flex:auto;        
    }

}

@media (max-width: 330px) {
    #container {
        width: auto;
        height: max-content;
    }
    #showTotalAmountToPay {
        display: flex;
        flex-wrap: wrap;
    }
    #totalAmount {
        margin: 5px;
        padding: 10px;
        font-size: 10px;
        flex:auto;        
    }
    input {
        font-size: 10px;
        width: 200px;
    }
}